.ibm-plex-sans-kr-regular {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 650;
  font-style: normal;
  font-size : 45px;
  line-height : 1.5;
}

.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color : white;
  height : 65px;
}

.headinfo {
  position : relative;
  margin : 5px 135px 5px 120px;
}

.headbutton {
  margin : 5px 135px 5px 120px;
  height : 50px;
}

#headclick {
  width : 100px;
  height : 50px;
  color : gray;
  text-align : center;
  padding : 12px 0px;
  position : absolute;
  top : 5px;
  font-size : 20px;
}

.scrollbar {
  position : fixed;
  width : 100%;
  top : 0;
  z-index : 100;
}
main {
  position : relative;
  background-color : #FFFAE0;
  height : 3790px;
}

#text-box {
  padding-left : 205px;
  padding-top : 228px;
  
}

p {
  color : gray;
  font-size : 20px;
  line-height : 1.5;
}

.mascot {
  position : absolute;
  bottom : 0;
  right : 45px;
  top : 1px;
 
}

#downloadbutton {
  position : relative;
  width : 180px;
  height : 55px;
  background-color : #FF6F0F;
  border-radius : 10px;
  float : left;
  margin-right : 18px; 
}

#downloadbuttonpicture {
  padding : 13px 0px 0px 12px;
}

#downloadbuttonwrite {
  font-size : 20px;
  text-align : center;
  color : white;
  position : absolute;
  top : 17px;
  right : 26px;
}